* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* max-width: 1166px; */
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

/* ====================*===============
=====================header============ */
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-wrap {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}

.logo span {
  font-style: italic;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-list {
  display: none;
  gap: 24px;
}

.header-item {
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-nav {
  display: none;
  gap: 14px;
}

.header-nav-item {
}

.header-contact-icon {
  fill: transparent;
  stroke: #111;
}

.icon-menu {
  stroke: #111;
}

.mob-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* =============header========== */
/* ================mob-menu=========== */
.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1e1823;
  /* width: 100%; */
  width: 220px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-wrap {
  display: flex;
  flex-direction: column;
}

.mob-menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
}

.mob-menu-nav {
  align-self: center;
}

.mob-list {
  /* align-self: center; */
}
.mob-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-item-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
.mob-nav {
  display: flex;
  gap: 12px;
}
.mob-nav-item {
}
.mob-contact-icon {
  fill: transparent;
  stroke: #fff;
}
/* ===============/mob-menu============= */
/* =================hero=========== */
.hero {
  margin-bottom: 80px;
}

.hero-wrap {
  /* padding: 380px 40px 40px 40px; */
  padding: 395px 20px 20px 20px;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("path_to_image"), url(../img/chocolate_hero_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("path_to_image"), url(../img/chocolate_hero_mob_2x.jpg);
  }
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-btn-buy {
  background: #fd9222;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  /* width: 144px;
  height: 45px; */
  /* padding: 14px 40px; */
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-right: 14px;
  transition-property: background, color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.hero-btn-buy:hover {
  background: #fcf1e0;
  color: #fd9222;
}

.hero-link-how {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 183px;
  height: 45px; */
  /* padding: 14px 40px; */
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-link-how:hover {
  border: 1px solid #fd9222;
  color: #fd9222;
  transition-property: background, color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  /* margin-left: auto; */
  margin-top: 32px;
}
/* ===========hero==========
=============about========== */
.about {
  background: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-item {
  width: 100%;
  padding-right: 28px;
}

.about-icon {
  fill: #fd9222;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-sizing: content-box;
  margin-bottom: 22px;
}

.about-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.about-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* =============about==========
================taste========== */

.taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.tst {
  color: #fd9222;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  /* row-gap: 24px; */
  gap: 20px;
}

.taste-item {
  background-color: #fd9222;
  border-radius: 15px;
  width: 100%;
  padding: 28px 23px;
}

.taste-item:nth-child(2n) {
  background-color: #fff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}

.taste-item:nth-child(4n-1) {
  background-color: #1e1823;
}

.taste-item-right {
  fill: transparent;
  stroke: #fff;
}

.taste-item:nth-child(2n) .taste-item-right {
  /* fill: #fd9222; */
  stroke: #fd9222;
}

.taste-item-img {
  margin-bottom: 36px;
  margin: 0 auto;
  width: 236px;
  height: 176px;
}

.taste-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 5px;
}

.taste-item:nth-child(2n-1) .taste-item-title {
  color: #fff;
}

/* =============taste==========
=================how=========== */
.how {
}

.how-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}

.how-made {
}

.made-wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.made-wrap picture {
  flex-shrink: 0;
  width: 100%;
}

.made-content {
  padding: 20px 14px;
  background-color: #fff;
}

.how-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.how-list {
}

.how-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 16px;
}

.how-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  position: absolute;
  left: 0;
  top: 5px;
}

.how-item:last-child {
  margin-bottom: 0;
}

.how-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* =============how===========
==========our products======== */
.our-products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.products-title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.products {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.products-item {
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.products-item-img {
  margin: 0 auto;
  margin-bottom: 8px;
}

.products-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-item-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-item-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  /* padding: 8px 20px; */
  width: 94px;
  height: 33px;
  background: #fafafa;
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/* ===========our products=========
==============top sellers========== */
.top-sellers {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sellers-title {
  font-weight: 600;
  /* font-size: 24px; */
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.top {
}

.sellers-list {
  /* display: flex; */
  /* flex-direction: row; */
  gap: 16px;
}

.sellers-item {
  /* width: calc((100% - 16px * 2) / 3); */
  border: 15px 15px 0 0;
}

.sellers-item:not(:last-child) {
  margin-bottom: 20px;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  position: absolute;
  top: 0;
  /* background-color: gray; */
  height: 100%;
  border-radius: 15px 15px 0 0;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 500ms ease;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
}

.sellers-item:hover .sellers-item-text {
  transform: translateY(0);
}

.sellers-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: 0;
  border-radius: 0 0 15px 15px;
  justify-content: center;
}

/* ==============top sellers===========
====================loved============== */
.loved {
}

.loved-title {
  font-weight: 600;

  font-size: 20px;
  line-height: 1.2;

  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 98px;
}

.chocolate {
}

.loved-list {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.loved-item {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
}

.loved-item-wrap {
  position: absolute;
  /* left: 68px; */
  top: -42px;
  /* width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff; */
}

.loved-item-img {
  /* margin: 0 auto; */
  margin-inline: auto;
  margin-block-end: 18px;
  /* margin-bottom: 18px; */
}

.loved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  /* text-align: center; */
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  /* text-align: center; */
  color: rgba(17, 17, 17, 0.7);
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding: 104px 18px 42px 18px;
}

/* .loved-item:not(:last-child) {
  margin-bottom: 62px;
} */

.loved-btn {
  display: block;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  /* margin: 0 auto; */
  margin-inline: auto;
  margin-top: 32px;
  margin-bottom: 80px;
}

.loved-btn:hover {
  background: #fd9222;
  color: #fff;
}
/* .loved-btn:active {
  background-color: aqua;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
} */

/* ===============loved============
==================footer=========== */

footer {
  background: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* margin-bottom: 24px; */
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
  margin-right: auto;
  /* margin-bottom: 32px; */
}

.footer-item-link {
  color: #fff;
}

.footer-item:not(:last-child) {
  margin-bottom: 18px;
}

.contacts-footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.contacts-footer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  /* text-align: center; */
  color: #fff;
  margin-bottom: 14px;
}

/* .footer-soc-icon {
  color: #fff; тимчасово
  color: #fd9222;
} */

.footer-soc {
  order: 2;
  margin-right: 50px;
}

.footer-nav {
  display: flex;
  gap: 12px;
}

.footer-contacts {
  order: 1;
}

.footer-contact-icon {
  fill: transparent;
  stroke: #fff;
  width: 20px;
  height: 20px;
}

.contacts-footer {
}
.contacts-footer-item {
}

.footer-bottom {
  padding-top: 32px;
  /* padding-bottom: 32px; */
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.footer-bottom-list {
  display: block;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  /* padding: 13px 24px; */
  padding: 14px 18px;
  /* width: 313px; */
  width: 207px;
  /* height: 52px; */
  height: 45px;
  background-color: transparent;
  font-size: 14px;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-form-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  /* padding: 17px 40px; */
  padding: 14px 24px;
  border: none;
  /* width: 137px;
  height: 52px; */
  background: #fd9222;
  transition-property: background, color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.footer-form-btn:hover {
  background: #fcf1e0;
  color: #fd9222;
}

/* ======================footer===============
==========================modal=============== */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 340px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 24px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-close {
  position: absolute;
  right: 14px;
  top: 14px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal-close-icon {
  stroke: currentColor;
  fill: none;
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  max-width: 298px;
  margin-bottom: 40px;
}

.modal-title span {
  color: #fd9222;
}

.modal-field {
  margin-bottom: 14px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding-left: 44px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  outline: transparent;
  transition: border-color 300ms linear;
}

.modal-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.2);
  transition: color 300ms linear;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus::placeholder {
  color: #fd9222;
}

.modal-label[data-required="true"]::after {
  content: " *";
  color: red;
}

.modal-icon {
  fill: transparent;
  stroke: #fd9222;
  position: absolute;
  left: 18px;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-label {
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  padding: 22px 24px;
  height: 137px;
  resize: none;
}

.modal-submit {
  border-radius: 100px;
  padding: 14px 40px;
  /* padding: 12px 28px; */
  width: 117px;
  height: 45px;
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
}

.modal-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
  margin-left: 32px;
}

.check-text {
  display: flex;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.check-text span {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 12px;
  fill: transparent;
  border: 1px solid rgba(17, 17, 17, 0.14);
}

/* .modal-check-icon */

.modal-check:checked + .check-text span {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

/* ======================modal===============
=========================check=============== */

.checkbox-theme {
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.checkbox-theme::before {
  content: "";
  width: 40px;
  height: 22px;
  border: 1px solid #df9930;
  border-radius: 50px;
  margin-right: 8px;
}

.checkbox-theme::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #f0ab45;
  border-radius: 50%;
  transition-duration: 300ms;
}

.theme-checkbox-input:checked + .checkbox-theme::after {
  transform: translate(18px);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-navigation {
    margin-right: 48px;
  }

  .header-list {
    display: flex;
  }

  .header-nav {
    display: flex;
  }

  .mob-menu-btn {
    display: none;
  }

  .hero-wrap {
    padding: 670px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("path_to_image"), url(../img/chocolate_hero_tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url("path_to_image"), url(../img/chocolate_hero_tab_2x.jpg);
    }
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-btn-buy,
  .hero-link-how {
    padding: 14px 40px;
  }

  .hero-text {
    margin-top: 0;
    margin-left: auto;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-list {
    gap: 44px 88px;
  }

  .about-item {
    width: calc((100% - 88px) / 2);
    padding-right: 0;
  }

  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .taste-text {
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
    max-height: 1176px;
    /* flex-direction: column; */
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .how {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .how-title {
    margin-bottom: 50px;
  }

  .made-image {
    margin: 0 auto;
  }

  .made-content {
    padding: 32px;
    width: 614px;
    margin: 0 auto;
  }

  .our-products {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }

  .products-list {
    gap: 32px;
  }

  .top-sellers {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sellers-list {
    display: flex;
  }

  .sellers-item:not(:last-child) {
    margin-bottom: 0;
  }

  .sellers-item:last-child {
    display: none;
  }

  .loved {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .loved-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 92px;
  }

  .loved-list {
    flex-direction: row;
    gap: 16px;
  }

  .loved-item {
    width: calc((100% - 16) / 2);
    flex: 1;
  }

  .loved-item:last-child {
    display: none;
  }

  .loved-btn {
    font-size: 18px;
    padding: 14px 40px;
    margin: 50px auto;
  }

  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-top {
    flex-direction: row;
    padding-bottom: 50px;
  }

  .footer-title {
    font-size: 28px;
    line-height: 1.22;
  }

  .footer-soc {
    order: 1;
  }

  .footer-contacts {
    order: 2;
  }

  .footer-bottom {
    flex-direction: row;
    align-items: center;
  }

  .footer-bottom-list {
    align-items: center;
    gap: 16px;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-bottom-list li:nth-child(3),
  .footer-bottom-list li:nth-child(4) {
    display: none;
  }

  .footer-input {
    padding: 14px 24px;
    width: 232px;
  }

  .footer-form-btn {
    padding: 14px 28px;
  }

  .modal {
    width: 517px;
    padding: 40px;
  }

  .modal-close {
    right: 24px;
    top: 24px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .modal-field {
    margin-bottom: 18px;
  }

  .modal-input {
    height: 68px;
    padding: 22px 24px 22px 62px;
  }

  .modal-icon {
    left: 24px;
  }

  .modal-label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .modal-link {
    margin-left: 0;
  }

  .check-text {
    align-items: center;
    margin-bottom: 42px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
    padding: 0;
  }

  .logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-navigation {
    margin-right: 90px;
  }

  .hero-wrap {
    padding: 380px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url("path_to_image"), url(../img/chocolate_hero.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url("path_to_image"), url(../img/chocolate_hero_2x.jpg);
    }
  }

  .about-list {
    gap: 0 88px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .about-item {
    width: calc((100% - 2 * 88px) / 3);
    position: relative;
  }

  .about-item:not(:last-child)::after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 124px;
    height: 0px;
    transform: rotate(-90deg);
    position: absolute;
    right: -44px;
    top: 60px;
  }

  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .taste-list {
    gap: 24px 32px;
    max-height: 564px;
    flex-direction: row;
  }

  .taste-item {
    width: calc((100% - 3 * 32px) / 4);
  }

  .taste-item-img {
    width: 214px;
    height: 160px;
  }

  .how {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .made-wrap {
    flex-wrap: nowrap;
  }

  .made-wrap picture {
    width: unset;
  }

  .made-content {
    width: 516px;
  }

  .our-products {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }

  .products-list {
    gap: 24px 18px;
  }

  .top-sellers {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sellers-item:last-child {
    display: block;
  }

  .loved {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .loved-item:last-child {
    display: flex;
  }

  .loved-btn {
    margin-bottom: 0;
  }

  .footer-contact-icon {
    width: 24px;
    height: 24px;
  }

  .footer-bottom {
    padding-top: 24px;
  }

  .footer-bottom-list {
    gap: 24px;
  }

  .footer-input {
    width: 313px;
    height: 52px;
  }

  .footer-form-btn {
    padding: 18px 32px;
  }
}
