* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* ====================*===============
=====================header============ */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-wrap {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}

.logo span {
  font-style: italic;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-item {
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-nav {
  display: flex;
  gap: 14px;
}

.header-nav-item {
}

.header-contact-icon {
  fill: transparent;
  stroke: #111;
}

/* =============header==========
=================hero=========== */
.hero {
  margin-bottom: 80px;
}

.hero-wrap {
  padding: 380px 40px 40px 40px;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("path_to_image"), url(../img/chocolate_hero.jpg);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn-buy {
  background: #fd9222;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  /* width: 144px;
  height: 45px; */
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-right: 14px;
  transition-property: background, color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.hero-btn-buy:hover {
  background: #fcf1e0;
  color: #fd9222;
}

.hero-link-how {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 183px;
  height: 45px; */
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-link-how:hover {
  border: 1px solid #fd9222;
  color: #fd9222;
  transition-property: background, color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}
/* ===========hero==========
=============about========== */
.about {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.about-item {
  width: calc((100% - 2 * 88px) / 3);
}

.about-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.about-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* =============about==========
================taste========== */

.taste {
  padding-top: 120px;
  padding-bottom: 120px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.tst {
  color: #fd9222;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
  /* gap: 24px 32px; */
}

.taste-item {
  background-color: #fd9222;
  border-radius: 15px;
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px 23px;
}

.taste-item-img {
  margin-bottom: 36px;
}

.taste-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 5px;
}

/* =============taste==========
=================how=========== */
.how {
}

.how-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.how-made {
}

.how-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.how-list {
}
.how-item {
}

.how-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* =============how===========
==========our products======== */
.our-products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.products {
}
.products-list {
}
.products-item {
}
.products-item-img {
}

.products-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.products-item-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-item-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background: #fafafa;
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/* ===========our products=========
==============top sellers========== */
.top-sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.top {
}

.sellers-list {
  display: flex;
  /* flex-direction: row; */
  gap: 16px;
}

.sellers-item {
  width: calc((100% - 16px * 2) / 3);
  border: 15px 15px 0 0;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  position: absolute;
  top: 0;
  /* background-color: gray; */
  height: 100%;
  border-radius: 15px 15px 0 0;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 500ms ease;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
}

.sellers-item:hover .sellers-item-text {
  transform: translateY(0);
}

.sellers-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: 0;
  border-radius: 0 0 15px 15px;
  justify-content: center;
}

/* ==============top sellers===========
====================loved============== */
.loved {
}

.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.chocolate {
}
.loved-list {
}
.loved-item {
}
.loved-item-img {
}

.loved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.loved-btn:hover {
  background: #fd9222;
  color: #fff;
}
/* .loved-btn:active {
  background-color: aqua;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
} */

/* ===============loved============
==================footer=========== */

footer {
  background: #1e1823;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-item-link {
  color: #fff;
}

.contacts-footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.contacts-footer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-soc-icon {
  color: #fff; /*тимчасово*/
}

.contacts-footer {
}
.contacts-footer-item {
}
